# Python bytecode
__pycache__/
*.py[cod]

# Django-specific
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.local
.env.*.local

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Python virtual environment
venv/
.env/
env/

# Coverage reports
.coverage
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Pytest
.cache/

# Pycharm
.idea/

# Local configurations
*.local
*.local.env

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints/
