{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'style/global.css' %}">
</head>

<body>
    <header>
        <div id="logo">Natural Language Processing</div>
        <div id="menu" class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/stemming">Stemming</a></li>
                <li><a href="/levenshtein">Levenshtein</a></li>
                <li><a href="/cosine">Text Similarity</a></li>
            </ul>
        </div>
    </header>
    Teste
</body>

</html>